$white-color: white;
$olive-color:#90a6aa;
$blue-color:#2196f3;
$dark-blue: #47a7f5;
$light-blue: #47a7f5;
$ripple-blue: #2975b3;

$shadow-grey:#999;

$regular-dark: #405261;

$border-black:#2b2b2b;

$border-green:#2b2b;